// LAYOUT
$smx: 414;
$sm: 576;
$md: 768;
$lg: 992;
$xl: 1200;
$hd: 1439;

// FONTS
$baseFont: 'Roboto', 'Helvetica', 'Ubuntu', 'Cantarell', 'Arial', sans-serif;
$systemFont: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica', 'Ubuntu',
  'Cantarell', 'Arial', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// COLORS
$fontColor: #1e1e1e;
$colorPrimary: #5aa6ff;
$colorOrange: #ff9800;
$colorRed: #fd0000;
$colorGreen: #00cd39;
$colorBg: #e8e7ec;
